<% if(current_user) %>

<div id="account" class="toolbar ui-widget-header ui-corner-all">
  <% if(!current_user) %>
    <%= link_to 'Register', {:action=>"new", :controller=>"devise/registrations"}, :class => 'button' %>
    <%= link_to 'Login', {:action=>"new", :controller=>"devise/sessions"}, :class => 'button' %>
  <% else %>
    <%= current_user.first_name.nil? ? current_user.email : current_user.first_name+' '+current_user.last_name %>
    <%= link_to 'Account', {:action=>"edit", :controller=>"devise/registrations"}, :class => 'account-button' %>
    <%= link_to 'Logout', {:action=>"destroy", :controller=>"devise/sessions"}, :class => 'logout-button' %>
    <% if(current_user.admin?) %>
	  <%= link_to 'Addresses', user_addresses_path, :class => 'button' %>
  	  <%= link_to 'Badges', event_badges_path(Event.find(1)), :class => 'button' %>
      <%= link_to 'Admin', rails_admin_dashboard_url, :class => 'admin-button' %>
    <% end %>
  <% end %>
</div>

<% end %>
