<div id="callout">
<%= link_to_function "Print this Page", "javascript:print()", :class => 'print-button' %>
<% if(@rsvp) %>
  <% if(@rsvp.attending) %>
    <% case @rsvp.attending 
      when 'yes' %>
        You indicated you're attending! Wonderful!
      <% when 'maybe' %>
        You said you might be attending
      <% when 'no' %>
        You indicated you're not attending. Changed your mind?
      <% else %>
        Let us know if you can make it
    <% end %>

    <%= link_to 'Update your RSVP', event_complete_rsvp_path(@event.id, @email), :class => 'button' %>
  <% else %>
    Let us know if you can make it! <%= link_to 'RSVP Now', event_complete_rsvp_path(@event.id, @email), :class => 'button' %>
  <% end %>
<% else %>
  If you have received an email and would like to RSVP, please enter your email address here:
  <%= render :partial => 'pages/search', :locals => {:event => @event} %> 
<% end %>
<p>
<% if(@event.id == 1) %>
  <% other_event = Event.find(2); other_event_name = 'Melbourne' %>
<% else %>
  <% other_event = Event.find(1); other_event_name = 'Tahoe' %>
<% end %>
<!--(You can also check out the <%= link_to "#{other_event_name} event page", show_event_path(other_event.id, @email) %>)-->
</p>
</div>
<%= render :partial => 'events/show', :locals => { :event => @event } %>


