<div class="form_left">
<%= semantic_form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs :https do %>
    <%= f.input :name, :label=>'Site Name' %>
    <%= f.input :uses_hsts, :label=>'Uses HSTS?', :hint=>'Does the website use HSTS? (HTTP Strict Transport Security)' %>
    <%= f.input :uses_https, :label=>'Uses HTTPS?', :hint=>'Does the website use HTTPS?' %>
    <%= f.input :mixed_content, :label=>'Mixed Content?', :hint=>'Is the website free of mixed content?' %>
    <%= f.input :all_https, :label=>'All HTTPS?', :hint=>'Is HTTPS in use for all pages on the entire site?' %>
    <%= f.input :all_identifying, :label=>'All Identifying?', :hint=>'Is HTTPS in use on all pages where a user enters personally identifying information?' %>
    <%= f.input :secure_cookies, :label=>'Uses Secure Cookies?', :hint=>'Does the website use secure cookies?' %>
    <%= f.input :ssl_valid, :label=>'Valid SSL Certificate?', :hint=>'Is the SSL certificate valid?' %>
    <%= f.input :key_strength, :label=>'Key Strength', :hint=>'What is the key strength?' %>
    <%= f.input :notes, :label=>'Notes' %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
</div>

<div class="form_right">
  <h2>Help</h2>
  <%= link_to "How to tell if a website uses HSTS", help_hsts_path, :class => 'help_link' %>
  <%= link_to "How to tell if a website uses HTTPS", help_https_path, :class => 'help_link' %>
  <%= link_to "How to tell if a website is free of mixed content", help_mixed_path, :class => 'help_link' %>
  <%= link_to "How to tell if a website uses HTTPS on all pages", help_allhttps_path, :class => 'help_link' %>
  <%= link_to "How to tell if a website uses HTTPS on all pages where a user enters personally identifying information", help_ident_path, :class => 'help_link' %>
  <%= link_to "How to tell if a website uses secure cookies", help_securecookies_path, :class => 'help_link' %>
  <%= link_to "How to tell if a website has a valid SSL certificate", help_validssl_path, :class => 'help_link' %>
  <%= link_to "How to tell what the key strength of a website is", help_keystrength_path, :class => 'help_link' %>
</div>
