<h2>Got HTTPS?</h2>
<p id="project_info">
  A joint project of the <a href="http://eff.org">EFF</a> and <a href="http://accessnow.org">Access</a>.
</p>
<div id="action-content" class="clearfix">
  <p>
  <%= link_to 'Click here to add a domain', new_domain_path, :class=>'bigbutton' %>
  </p>
  <div class="bubblecontainer">
    <%= render :partial=>'shared/help' %>
  </div>
  <table id="domains">
    <tr>
      <th>Name</th>
      <th class="bubblehelp" id="hsts">HSTS</th>
      <th class="bubblehelp" id="https">HTTPS</th>
      <th class="bubblehelp" id="mixed">Mixed</th>
      <th class="bubblehelp" id="allhttps">All HTTPS</th>
      <th class="bubblehelp" id="ident">All Ident</th>
      <th class="bubblehelp" id="securecookies">Secure Cookies</th>
      <th class="bubblehelp" id="validssl">Valid SSL</th>
      <th class="bubblehelp" id="key">Key Strength</th>
      <th>Show</th>
    </tr>
  
  <% @domains.each do |domain| %>
    <tr class="summary">
      <td><%= domain.name %></td>
      <td><%= raw(tick domain.uses_hsts) %></td>
      <td><%= raw tick domain.uses_https %></td>
      <td><%= raw tick domain.mixed_content %></td>
      <td><%= raw tick domain.all_https %></td>
      <td><%= raw tick domain.all_identifying %></td>
      <td><%= raw tick domain.secure_cookies %></td>
      <td><%= raw tick domain.ssl_valid %></td>
      <td><%= domain.key_strength %></td>
      <td><div class="arrow"></div></td>
      
    </tr>
    <tr class="detail">
      <td colspan="10">
        <%= link_to 'Show', domain %>
        <%= domain.notes %>
        <%= link_to 'Edit', edit_domain_path(domain) %>
      <!--<%= link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete %>-->
      </td>
    </tr>
  <% end %>
  </table>
  <p>&nbsp;</p>
  <p>
  <a style="padding: 20px 10px;" href="http://eff.org" target="_blank"><img src="/images/eff.gif" alt="EFF Web Site"/></a>
  </p>
</div>