<%= content_for :header do %>
<div id="help">
  <a href="/about#how">How does our website work?</a>
  <div class="logo"></div>
</div>
<div id="search">
  <%= form_for @search do |f| %>
    <%= f.text_field :name_contains, :title => 'Search for a website' %><%= f.submit "Search" %> <span class="hint">Enter any website URL address</span>
    <!--<%= @search.count %> Results-->
  <% end %>
</div>
<% end %>
  <div class="table_header">
    <%= link_to 'Click here to add a domain', new_domain_path, :class=>'bigbutton' %>
    <p class="info">HTTPS Now allows users to contribute information about how websites use HTTPS, such as whether the site uses HTTPS on all pages, serves mixed content, and more.</p>
  </div>
  <div style="clear: both;"></div>
  <div class="bubblecontainer">
    <%= render :partial=>'shared/help' %>
  </div>
  
  <table id="domains">
    <tr>
      <th>Name</th>
      <th class="bubblehelp" id="https">Uses HTTPS on Some Pages</th>
      <th class="bubblehelp" id="mixed">No Mixed Content</th>
      <th class="bubblehelp" id="allhttps">All Pages Use HTTPS</th>
      <th class="bubblehelp" id="ident">All Identifying Info Encrypted</th>
      <th class="bubblehelp" id="securecookies">Only Uses Secure Cookies</th>
      <th class="bubblehelp" id="validssl">Has a Valid SSL Certificate</th>
      <th class="bubblehelp" id="keystrength">Key Size</th>
      <th class="bubblehelp" id="hsts">Uses HSTS</th>
      <th>Show Notes/Edit Entry</th>
    </tr>
  
  <% @domains.each do |domain| %>
    <tr class="summary">
      <td class="domain_name"><%= domain.name %></td>
      <td><%= raw tick domain.uses_https %></td>
      <td><%= raw tick_mixed domain.mixed_content %></td>
      <td><%= raw tick domain.all_https %></td>
      <td><%= raw tick domain.all_identifying %></td>
      <td><%= raw tick domain.secure_cookies %></td>
      <td><%= raw tick domain.ssl_valid %></td>
      <td><%= domain.key_strength %></td>
      <td><%= raw(tick domain.uses_hsts) %></td>
      <td><div class="arrow"></div></td>
      
    </tr>
    <tr class="detail">
      <td colspan="10">
        <p>Version: <%= domain.version %></p>
        <p class="notes"><%= domain.notes %></p>
        <%= link_to 'Show', domain %>
        <%= link_to 'Edit', edit_domain_path(domain) %>
      <!--<%= link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete %>-->
      </td>
    </tr>
  <% end %>
    <tr>
      <th>Name</th>
      <th class="bubblehelp" id="https">Uses HTTPS on Some Pages</th>
      <th class="bubblehelp" id="mixed">No Mixed Content</th>
      <th class="bubblehelp" id="allhttps">All Pages Use HTTPS</th>
      <th class="bubblehelp" id="ident">All Identifying Info Encrypted</th>
      <th class="bubblehelp" id="securecookies">Only Uses Secure Cookies</th>
      <th class="bubblehelp" id="validssl">Has a Valid SSL Certificate</th>
      <th class="bubblehelp" id="keystrength">Key Size</th>
      <th class="bubblehelp" id="hsts">Uses HSTS</th>
      <th>Show Notes/Edit Entry</th>
    </tr>
  </table>
  <div class="pager">
    <%= will_paginate @domains %>
  </div>
  <p class="info"> If you don't know what these terms mean, just click on the question mark at the top and bottom of each column.</p>
  <!--<p>&nbsp;</p>
  <p>
  <a style="padding: 20px 10px;" href="http://eff.org" target="_blank"><img src="/images/eff.gif" alt="EFF Web Site"/></a>
  </p>-->
