<div id="page" class="show_domain">
  <div class="actions"><%= link_to raw('&larr; Domain List'), domains_path %> <%= link_to 'Edit', edit_domain_path(@domain) %></div>
  <h2>Domain Summary</h2>

  <h3><%= @domain.name %></h3>
  
  <p>
    <b>Version:</b>
    <%= @domain.version %>
  </p>
  <p>
    <b>Uses hsts:</b>
    <%= @domain.uses_hsts %>
  </p>
  
  <p>
    <b>Uses https:</b>
    <%= @domain.uses_https %>
  </p>
  
  <p>
    <b>Mixed content:</b>
    <%= @domain.mixed_content %>
  </p>
  
  <p>
    <b>All https:</b>
    <%= @domain.all_https %>
  </p>
  
  <p>
    <b>All identifying:</b>
    <%= @domain.all_identifying %>
  </p>
  
  <p>
    <b>Secure cookies:</b>
    <%= @domain.secure_cookies %>
  </p>
  
  <p>
    <b>Ssl valid:</b>
    <%= @domain.ssl_valid %>
  </p>
  
  <p>
    <b>Key strength:</b>
    <%= @domain.key_strength %>
  </p>
  
  <p>
    <b>Notes:</b>
    <%= @domain.notes %>
  </p>
  
  <% if can?(:manage, Domain) %>
  <hr />
  <h3>Version History</h3>
  <ul id="versions">
  <% @domain.versions.reverse.each do |version| %>
    <%= render :partial => 'shared/version', :locals => {:version => version} %>
  <% end %>
  </ul>
  <% end %>
</div>
