<li class="guest">
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
    <% guest = form.object %>
    <% if !guest.logo.url.nil? %>
      <p>Photo: <%= image_tag(guest.logo.url(:small)) %></p>
    <% end %>
  </p>
  <p>
    <%= form.label :diet %>
    <%= form.select :diet, {:none => 'None', :vegan => 'Vegan', :vegetarian => 'Vegetarian', :pescetarian => 'Pescetarian', :human_trash_can => 'I am a human trash can' } %>
    <%= form.label :allergic_nuts %>
    <%= form.check_box :allergic_nuts %>
    <%= form.label :allergic_wheat %>
    <%= form.check_box :allergic_wheat %>
    <%= form.label :notes%>
    <%= form.text_field :notes %>
  </p>
  <!-- cleanup -->
  <%= remove_link_unless_new_record(form) %>
  <% if form.object.new_record? %>
    <%= link_to "remove", nil, :onclick => "$(this).parent('.guest').remove(); return false;" %>
  <% end %>
</li>
