<div id="page">
<h2>Edit User <%= @user.first_name %> <%= @user.last_name %></h2>

<%= render 'form' %>

<%= link_to raw('&laquo; User List'), admin_users_path %>
| <%= link_to 'Show', [:admin, @user] %>
</div>