<div id="page">
<h2>User Admin</h2>

<% semantic_form_for [:admin, @search] do |f| %>
  <h3>Search</h3>
  <% f.inputs do %>
    <%= f.input :email_contains %>
    <%= f.input :first_name_contains %>
    <%= f.input :last_name_contains %>
  <% end %>
  <%-# f.text_field :title_like, :size => 15 %>
  <%= f.submit "Search" %>
  <%= link_to "Clear", '#', :onclick=>"$(this).parent.parent.reset(); return false;" %>
  <p class="user_results"><%= @search.count %> Matches</p>
<% end %>



<table id="domains">
  <thead>
    <tr>
      <th><%= sort_link @search, 'email', 'Email' %></th>
      <th><%= sort_link @search, 'first_name', 'First Name' %></th>
      <th><%= sort_link @search, 'last_name', 'Last Name' %></th>
      <th><%= sort_link @search, 'role', 'Role' %></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.role %></td>
    <td>
        <%= link_to 'Show', [:admin, user] %>
        <%= link_to 'Edit', edit_admin_user_path(user) %>
        <%= link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
